#content{
    min-height: 100%;
    position: relative;
}
.entrega{
    font-size: 16px;
}
.termo{
    color: blue;
    
}
#btnLogin2{
    right: 8%;

}
#nomeMenu{
    right: 4%;
}
#pesquisaMenu{
     right: 7%;
    
}
#linkCarrinho2{
     right: 14%;
}